body {
    font-family: sans-serif;
}

h1 {
    color: #272142;
    font-size: 38px;
    font-weight: 700;
}

.logo-img {
    width: 150px;
}

.weather-wrapper {
    max-width: 800px;
    margin-top: 40px;
}

#search-form {
    border-bottom: 1px solid #f9f7fe;
}

#search-city {
    background: #f9f7fe;
    color: rgba(39, 33, 66, .4);
}

#search-city::placeholder {
    color: rgba(39, 33, 66, .4);
}

.btn-search {
    background: #885DF1;
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    color: rgba(39, 33, 66, .4);
}

.details span {
    color: #F65282;
}

.weather-icon {
    margin-right: 10px;
}

#temperature {
    font-size: 80px;
    font-weight: 700;
    color: rgb(33, 33, 33);
}

.unit {
    position: relative;
    top: -34px;
    color: rgb(33, 33, 33);
    font-size: 24px;
}

.forecast {
    border-bottom: 1px solid #f9f7fe;
}

.forecast>* {
    text-align: center;
}

.forecast-temperatures {
    color: #F65282;
}

.footer {
    text-align: center;
    font-size: 14px;
    color: rgba(39, 33, 66, .4)
}

.footer a {
    color: #885DF1;
    text-decoration: none;
}